{
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ".prettierrc",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
